[Unit]
Description=Trakt Watch History Web App
After=network.target

[Service]
Type=simple
User=username
WorkingDirectory=/home/username/git/trakt-history
Environment="PATH=/home/username/git/trakt-history/.venv/bin"
ExecStart=/home/username/git/trakt-history/.venv/bin/python /home/username/git/trakt-history/app.py
Restart=always
RestartSec=10

# Logging
StandardOutput=journal
StandardError=journal
SyslogIdentifier=trakt-app

[Install]
WantedBy=multi-user.target
